body
{
	background-color: #BABABA;
}

#mainBody
{
	text-align: center;
}

#pageHeader
{
	text-align: center;
	width: 100%;
	height: 50px
}

#buttonBar
{
	width: 100%;
	text-align: center;
}

#divInputCode
{
	float: left
}

#divLog
{
	float: left
}

#divTestPrograms
{
	float: left;
	width: 100px;
}

#pageFooter
{
	text-align: center;
	clear: both;
	font-size: 10px;
}